/* :root{
    --glass-blur: 'blur(20px)';
	--glass-background: 'rgba(255, 255, 255, 0.194)';
	--glass-border-color: 'rgba(255, 255, 255, 0.238)';
} */

.reveal img {
	max-width: 100% !important;
	max-height: 100% !important;
}